@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
}

#root {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(210, 46%, 95%);
    font-family: 'Manrope', sans-serif;
}

.card {
    width: 51%;
    height: 35%;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    border-radius: 0.5rem;
    box-shadow: 0rem 1.5rem 3rem hsl(212, 23%, 80%);
}

.card img {
    object-fit: cover;
    object-position: left;
    width: 39%;
    height: auto;
    display: flex;
    border-radius: inherit;
    border-top-right-radius: 0rem;
    border-bottom-right-radius: 0rem;
    opacity: 0.95;
}

.card .content {
    padding: 2rem;
    display: flex;
    width: 61%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: inherit;
    border-top-left-radius: 0rem;
    border-bottom-left-radius: 0rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    position: relative;
}

h1 {
    color: hsl(217, 19%, 35%);
    font-weight: 700;
    font-size: 1.3rem;
    margin-top: 0;
    margin-bottom: 0rem;
    margin-left: 0rem;
}

p {
    color: hsl(214, 17%, 51%);
    font-weight: 500;
    font-size: 0.8rem;
    margin-top: 0;
    margin-bottom: 0rem;
    margin-left: 0rem;
    line-height: 1.3rem;
}

.author-socials {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.author {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    width: fit-content;
}

.name-date {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.1rem;
    font-size: 0.8rem;
}

.name {
    color: hsl(217, 19%, 35%);
    font-weight: 700;
}

.date {
    color: hsl(214, 17%, 65%);
    font-weight: 500;
}

.author img {
    width: 2.5rem;
    border-radius: 50%;
}

button {
    border: none;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    background-color: hsl(210, 46%, 95%);
    cursor: pointer;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.opened { 
    background-color: hsl(217, 19%, 35%);
}

.opened svg path { 
    fill: white;
}

.social-shares {
    position: absolute;
    z-index: 1;
    width: 15.5rem;
    height: 3.5rem;
    background-color: hsl(217, 19%, 35%);
    box-shadow: 0rem 1rem 4rem hsl(212, 23%, 80%);
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 35%;
    right: -4.2rem;
    gap: 1rem;
}

.social-shares::after {
    content: " ";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -0.8rem;
    border-width: 0.8rem;
    border-style: solid;
    border-color: hsl(217, 19%, 35%) transparent transparent transparent;
}

.social-shares img {
    width: 1.2rem;
    border-radius: 0rem;
}

.share {
    color: hsl(212, 23%, 69%);
    font-size: 0.8rem;
    letter-spacing: 0.3rem;
}

/* Don't change size for bigger screens */
@media (min-width:1100px) {
    .card { 
        width: 770px;
        height: 300px;
    }
}


/* Mobile design */
@media (max-width:1099px) {
    .card { 
        flex-direction: column;
        width: 90%;
        height: 80%;
        justify-content: center;
        align-items: center;
    }

    .card img {
        object-fit: cover;
        object-position: top;
        width: 100%;
        height: 43%;
        display: flex;
        border-radius: inherit;
        border-bottom-left-radius: 0rem;
        border-bottom-right-radius: 0rem;
        opacity: 0.95;
    }

    .card .content {
        padding: 1.5rem;
        display: flex;
        width: auto;
        height: 57%;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background-color: white;
        border-radius: inherit;
        border-top-left-radius: 0rem;
        padding-left: 2.2rem;
        padding-right: 2.2rem;
        position: relative;
    }

    .author img {
        width: 2.5rem;
        border-radius: 50%;
    }

    h1 { 
        font-size: 1rem;
    }

    p { 
        font-size: 0.9rem;
        margin-top: -0.3rem;
    }

    .social-shares {
        position: absolute;
        z-index: 1;
        width: 90.7%;
        height: 24%;
        background-color: hsl(217, 19%, 35%);
        box-shadow: 0rem 1rem 4rem hsl(212, 23%, 80%);
        border-radius: 0.5rem;
        border-top-left-radius: 0rem;
        border-top-right-radius: 0rem;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        bottom: 0;
        left: 0;
        gap: 1.5rem;
        padding-left: 2rem;
    }

    .social-shares::after { 
        content: none;
    }

    .social-shares img {
        width: 1.2rem;
        height: auto;
        border-radius: 0rem;
    }

    .opened { 
        width: 1.8rem;
        height: 1.8rem;
        margin-top: 1.2rem;
        background-color: hsl(212, 23%, 50%);
    }
}